# Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_password
DB_NAME=signature_db

# SendGrid Configuration
SENDGRID_API_KEY=your_sendgrid_api_key_here
SENDGRID_FROM_EMAIL=noreply@yourdomain.com

# Frontend URL for password reset links
FRONTEND_URL=http://localhost:3000

# Mongo
MONGO_USERNAME=admin
MONGO_PASSWORD=admin_password
MONGO_DB_NAME=mongo_db

# Minio Conection Configuration
MINO_HOST=localhost
MINIO_PORT=9010
MINIO_ACCESS_KEY=your_minio_access_key
MINIO_SECRET_KEY=your_minio_secret_key
MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=minio_pass

MINIO_CREATED_DOCUMENTS_BUCKET=created-documents
MINIO_SIGNED_DOCUMENTS_BUCKET=signed-documents
MINIO_OFICIAL_CARDS_BUCKET=oficial-id-cards
MINIO_SIGNATURES_IMAGES_BUCKET=signature-images


CIPHER_SECRET='tu-clave-de-cifrado-reversible'